.split{
    width: 100%;
    height: 100px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.left{
    width: 50%;
    float: left;
}
.right{
    width: 50%;
    float: right;
}
div{
    display: inline-block;
}
/*Pjesa e dyte per input*/
#search{
    margin-left: 430px;
    height: 35px;
}
#butoni{
    height: 35px;
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
    border-radius: 30px;
}


/* Per footer*/
footer {
  padding: 20px;
  text-align: center;
  color: #ff0000;
}
#i1, #i2, #i3{
  font-size: 35px;
  color: blue;
  margin-left: 30px;
  margin-right: 30px;
}
.footer{
  text-align: center;
  color: #3e363f;
}
.footers{
  background-color: #e1ad01;
}
.footers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1850px;
}
.footer {
  width: 350px;
  padding: 20px;
  text-align: center;
}
span{
  color: blue;
  font-size: 22 px;
}
a{
  text-decoration: none;
  color: rgb(38, 120, 153);
}


/*Per newsletter*/
.newsletter-form input[type="text"] {
flex-grow: 1;
padding: 10px;
font-size: 16px;
}
.newsletter-form input[type="email"] {
flex-grow: 1;
padding: 10px;
font-size: 16px;
}
.newsletter-form textarea{
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  }

#my-form-button{
padding: 10px 20px;
background-color: #333;
color: #fff;
border: none;
cursor: pointer;
font-size: 16px;
}


/*Per slideshow*/
.slideshow-wrapper {
  display: flex;
  justify-content: center;
  background-size: cover;
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  background-size: cover;
}

.slide {
  display: none;
  margin-top: 20px;
}
img{
  width: 800px;
  border: 5px solid rgb(197, 164, 138);
}
.slide-caption{
  font-size: 22px;
  float: right;
}
h1{
  text-align: center;
}
label:hover{
  color: red;
}
/*Per navbar */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #3e363f;
}

.navbar {
  background-color: #73a580;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 30px;
}

.navbar ul li a:hover{
  background-color: #548a62;
  border-bottom: 5px solid #416149;
}
/* mission */
#mission {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

#mission div {
  width: 25%;
  text-align: center;
  flex-grow: 1;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#mission img {
  width: 100%;
  height: auto;
}

#mission p {
  font-size: 18px;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#donateMe{
  font-size: 38px;
  background-color: #333;
  color: wheat;
}
#donateMe{
  color: wheat;
  font-size: 100px;
  padding: 82px;
  border: 1px sold rgb(168, 55, 55);
  background-color: #5eb9a2;
  border-radius: 32px;
}
#donateTxt{
  font-size: 64px;
}
#donateMe:hover{
  background-color: #63a582;
}
#donateDiv{
  margin-top: 250px;
  margin-bottom: 250px;
}