#quiz {
    margin: 50px auto;
    width: 500px;
    text-align: left;
}
h2 {
    font-size: 24px;
}
ul {
    list-style-type: none;
}
label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
button {
    padding: 10px 20px;
    font-size: 18px;
}
#score {
    margin-top: 20px;
    font-size: 20px;
}